.auth_modal {
  display: flex;
  padding: 0;
  position: relative;
  .auth_img {
    width: 40%;
    position: relative;

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .auth_form {
    width: 60%;
    display: flex;
    padding: 48px 32px 32px;
    gap: 24px;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    h5 {
      color: $black;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      color: $gray;
      margin-bottom: 12px;
    }

    .or {
      @include centerFlex();
      margin: 16px 0;
      width: 100%;
      height: 1px;
      background: $input_stroke;
      span {
        padding: 0 16px;
        color: $black;
        font-size: 14px;
        background: $white;
      }
    }

    .socials_login {
      display: flex;
      align-items: center;
      gap: 8px;
      button {
        background: none;
        border: 1px solid $input_stroke;
        color: $black;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        img {
          height: 24px;
        }
      }
    }

    .forgot_password {
      text-align: end;
      font-size: 14px;
      margin: 4px 0;
      cursor: pointer;
      color: $black;
      transition: $transition;
      &:hover {
        color: $main;
      }
    }

    .register_link {
      margin: 12px 0 0;
      font-size: 14px;
      color: $black;
    }

    .form_ui {
      display: flex;
      flex-direction: column;
      gap: 12px;
      span {
        cursor: pointer;
        color: $main;
      }
    }
  }

  .modal_close_btn {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    margin-inline-end: 0 !important;
    margin-inline-start: auto !important;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    &::before {
      @include centerAbsolute();
      font-family: "Font Awesome 6 Pro";
      content: "\f00d";
      font-size: 14px;
      color: $black;
    }
    &:hover {
      background: $input_stroke !important;
    }
  }
}
