.contact_section {
  padding: 60px 0 0;

  .contact_info {
    padding: 24px;
    border-radius: 16px;
    height: 100%;
    border: 2px solid $input_stroke;

    .icon {
      width: 52px;
      height: 52px;
      @include centerFlex();
      border-radius: 12px;
      border: 1px solid $main;
      color: $main;
      margin-bottom: 24px;
    }

    h6 {
      color: $black;
      font-size: 16px;
      font-weight: 500;
    }

    p {
      color: $input_hint;
      font-size: 14px;
      margin-top: 8px;
    }

    a {
      color: $black;
      font-size: 14px;
      transition: $transition;
      &:hover {
        color: $main;
      }
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    h6 {
      margin: 0;
      font-size: 14px;
    }
    .social-media-links {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  .map_container {
    margin-top: 30px;
    margin-bottom: -8px;
  }

  .img {
    width: 100%;
    height: 100%;
    img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .form_ui {
    padding-inline-end: 16px;

    @media screen and (max-width: 768px) {
      padding-inline-end: 0;
    }
  }

  .form_header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
    h3 {
      color: $black;
      font-size: 24px;
      margin-bottom: 0;
    }
    p {
      color: $input_hint;
      font-size: 14px;
      margin: 0;
    }
  }
}
