@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

$main: #E21011;
$main10: #ffd8d867;
$black: #000;
$white: #fff;
$gray: #777;
$warning: #f7b500;
$input_bg: #fafafa;
$input_hint: #aaaaaa;
$input_stroke: #f4f4f4;
$transition: all 0.3s ease-in-out;
$shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background: $input_hint;
  height: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li[data-sonner-toast=""] {
  padding: 12px;
}

a {
  text-decoration: none;
  color: $black;
}

button {
  border: none;
  background-color: unset;
  color: #000;
}

.row {
  margin: 0;
}

input[type="number"] {
  &::-webkit-outer-spin-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  appearance: textfield;
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  @include clearInput();
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: $shadow !important;
  margin-top: 14px !important;
  background: $white;
  border-radius: 8px;
  text-align: start !important;
  padding: 8px;
}

.dropdown-toggle::after {
  display: none;
}

.modal-header {
  border-bottom: 0;
  .btn-close {
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    margin-inline-end: 0 !important;
    margin-inline-start: auto !important;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    opacity: 1;
    &::before {
      @include centerAbsolute();
      font-family: "Font Awesome 6 Pro";
      content: "\f00d";
      font-size: 14px;
      color: $black;
    }
    &:hover {
      background: $input_stroke !important;
    }
  }
  h6 {
    color: $black;
    margin-bottom: 0;
  }
}

.modal-content {
  background: $white;
  border-radius: 24px;
  overflow: hidden;
}

.modal .modal-xl {
  max-width: unset;
  width: min(100% - 24px, 1340px);
  margin: 20px auto;
  justify-content: center;
}

.select__control {
  box-shadow: none !important;
  border-color: $input_stroke !important;
  background-color: $input_bg !important;
  border-radius: 12px !important;
  font-size: 14px !important;
  &:hover {
    background-color: $white !important;
  }
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  white-space: nowrap !important;
  width: fit-content !important;
  z-index: 999999 !important;
  font-size: 14px;
}

.select__multi-value {
  margin: 0 !important;
  margin-inline-end: 4px !important;
  border-radius: 8px !important;
}

.calender_modal .rmdp-calendar {
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 8px;
  background: $white;
}

.rmdp-wrapper {
  background: $white !important;
}

.rmdp-day {
  width: 48px !important;
  height: 48px !important;
  font-size: 16px !important;
  color: $black !important;
  transition: $transition;
  span:hover {
    background-color: $input_bg !important;
    color: $main !important;
  }
  &.rmdp-today span {
    background-color: $input_bg !important;
    color: $main !important;
  }
  &.rmdp-disabled {
    color: $gray !important;
    cursor: not-allowed !important;
    span {
      text-decoration: line-through !important;
      cursor: not-allowed !important;
      &:hover {
        background-color: transparent !important;
        color: $gray !important;
      }
    }
  }
}

.rmdp-arrow-container {
  width: 24px !important;
  height: 24px !important;
  @include centerFlex();
  position: relative;
  i {
    display: none;
  }
  &::before {
    font-family: "Font Awesome 6 Pro";
    content: "\f104";
    font-size: 14px;
    color: $main;
    @include centerAbsolute();
  }
  &.rmdp-right::before {
    content: "\f105";
  }
  &:hover {
    background: $input_bg !important;
    box-shadow: none !important;
  }
  &.disabled {
    cursor: not-allowed !important;
    &::before {
      color: $input_hint !important;
    }
    &:hover {
      background: transparent !important;
      box-shadow: none !important;
    }
  }
}

.rmdp-range {
  background: $main !important;
  box-shadow: none !important;
  color: $white !important;
  &.rmdp-today span {
    background: $main !important;
    color: $white !important;
  }
}

.rmdp-week:first-child {
  margin-bottom: 16px;
  .rmdp-week-day {
    color: $main !important;
  }
}

.rmdp-header-values {
  color: $main !important;
}

.rmdp-shadow {
  box-shadow: none !important;
}

.calender_wrapper {
  min-height: 384px;
}

.rmdp-week-day {
  width: 48px !important;
}

.form-switch input {
  box-shadow: none !important;
}

.rmdp-selected span {
  background-color: $main !important;
  color: $white !important;
}

// phone input
.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid $input_stroke;
  background: $input_bg;
  height: 48px;
  border-radius: 12px;
  direction: ltr;
  .form-control {
    width: 100%;
    height: 100%;
    color: $black;
    font-size: 14px;
    background: $input_bg;
    padding: 8px !important;
    border-radius: 12px;
    direction: ltr;
    border: 0 !important;
  }

  .flag-dropdown {
    background: transparent;
    border: none;
    position: static;
    border-radius: 12px 0 0 12px;
    min-width: 52px;
    &.open {
      background: $input_bg;
      border-radius: 12px;
      .selected-flag {
        border-radius: 12px;
        background: $input_bg;
      }
    }
  }

  .selected-flag {
    background: transparent;
    padding: 0;
    width: 100%;
    border-radius: 12px;
    @include centerFlex();
    .arrow {
      border-top-color: $black;
      &.up {
        border-bottom-color: $black;
      }
    }
    &:hover,
    &:focus {
      background: $input_bg;
    }
  }

  .country-list {
    width: 100%;
    left: 0;
    background: $white;
    border: 1px solid $input_stroke;
    border-radius: 12px;
    box-shadow: 0px 2px 8px #0000001a;
    margin-top: 4px;
    scrollbar-width: none;
    .search {
      padding: 8px;
      input {
        margin: 0;
        border: 1px solid $input_stroke;
        height: 42px;
        width: 100%;
        border-radius: 8px;
        direction: ltr !important;
      }
      background: $white;
      span {
        display: none;
      }
    }
    .country {
      color: $black;
      padding: 8px 10px;
      &:hover {
        background: $input_bg;
      }
      &.highlight {
        background: $input_bg;
      }
    }
    .dial-code {
      color: $gray;
    }
  }
}

// react flags customization
.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: 1px solid $input_stroke !important;
  height: 54px;
  border-radius: 12px !important;
  box-shadow: none;
  outline: none;
  color: $input_hint;
  background: $input_bg !important;
}

.ReactFlagsSelect-module_filterBox__3m8EU {
  padding: 8px;
  input {
    margin: 0;
  }
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding-bottom: 0;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
  font-size: 16px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border: 0 !important;
  max-height: 208px !important;
  border-radius: 8px !important;
  scrollbar-width: none !important;
  input {
    height: 48px !important;
    border-radius: 8px !important;
  }
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.ReactFlagsSelect-module_filterBox__3m8EU input {
  border: 1px solid $input_stroke !important;
  width: 100% !important;
  margin: 0 !important;
}

.ReactFlagsSelect-module_label__27pw9 {
  color: $black;
}
