.flights {
  padding: 30px 0;
  position: relative;

  .results {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .filter_flights {
    padding: 16px;
    border-radius: 16px;
    background: $input_bg;
    border: 1px solid $input_stroke;
    height: 100%;
    position: sticky;
    top: 100px;
  }

  .sorting_header {
    background: $input_bg;
    padding: 12px;
    border-radius: 8px;
    display: flex;

    .sorting_btn {
      padding: 8px 16px;
      border-radius: 8px;
      background: $white;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
      border: 0;
      color: $black;
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
      }
    }

    .block {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 16px;
      padding: 0 12px;
      @media screen and (max-width: 768px) {
        display: none;
      }
      h6 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
      }
      &:first-child {
        justify-content: start;
        font-size: 14px;
        color: $black;
        font-weight: 400;
      }

      label {
        input {
          display: none;
          &:checked + span {
            background: $white;
            i {
              color: $black;
            }
          }
        }
        span {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 4px 12px;
          border-radius: 8px;
          font-size: 14px;
          cursor: pointer;
          i {
            font-size: 10px;
            color: $input_hint;
          }
        }

        &:hover {
          background: $white;
        }
      }
    }
  }

  .round_trip_flight {
    border-radius: 8px;
    border: 1px solid $input_stroke;
    margin-top: 16px;
    display: flex;
    overflow: hidden;
    position: relative;

    .num {
      min-width: 28px;
      height: 28px;
      border-radius: 50%;
      background: $main;
      color: $white;
      @include centerFlex();

      @media screen and (max-width: 768px) {
        min-width: 24px;
        height: 24px;
        font-size: 14px;
      }
    }

    .content {
      h3 {
        font-size: 16px;
        color: $black;
        margin-bottom: 2px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
      p {
        font-size: 12px;
        color: $gray;
        margin: 0;
      }
    }

    .departing_flight {
      clip-path: polygon(100% 0%, 2% 0%, 0% 50%, 2% 100%, 100% 100%);

      @media screen and (max-width: 768px) {
        clip-path: polygon(
          0% 0%,
          95% 0%,
          100% 50%,
          95% 100%,
          0% 100%
        ) !important;
      }
    }

    .departing_flight,
    .return_flight {
      flex: 1;
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      &.active {
        background: #ffd8d836;
      }
      @media screen and (max-width: 768px) {
        gap: 8px;
        padding: 14px;
      }
    }

    .return_flight {
      opacity: 0.5;

      .num {
        background: $gray;
      }
    }
  }
}

.flight_card {
  border-radius: 16px;
  border: 1px solid #e9e9e9;
  display: flex;
  transition: $transition;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.035) 0px 2.45093px 8.98675px 0px;
  }

  .flight_info {
    flex: 4;
    padding: 16px;
    border-left: 1px dashed #e9e9e9;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      border-left: 0 !important;
      flex-wrap: wrap;
      gap: 24px;
    }

    .departure {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 12px;

      @media screen and (max-width: 768px) {
        order: 3;
      }

      .time {
        display: flex;
        flex-direction: column;
        gap: 4px;
        h6 {
          color: $black;
          font-size: 14px;
          margin: 0;
        }
        span {
          color: $gray;
          font-size: 12px;
        }
      }

      .time_line {
        width: 100%;
        height: 0;
        background: $input_hint;
        border-top: 1px solid $input_hint;
        display: block;
        position: relative;
        .line {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 8px;
          border: 2px solid $input_hint;
          border-radius: 24px;
          background: $white;
          transition: $transition;
          &:hover {
            border-color: $gray;
          }

          span {
            font-size: 8px;
            color: $gray;
            position: absolute;
            left: 50%;
            bottom: -14px;
            transform: translateX(-50%);
          }
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $white;
          border: 2px solid $input_hint;
        }

        &::after {
          left: unset;
          right: 0;
        }
      }
    }

    .airlines {
      flex: 1;

      @media screen and (max-width: 768px) {
        order: 1;
      }

      .content {
        display: flex;
        flex-direction: column;
        .images {
          display: flex;
          img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: contain;
          }
        }

        h6 {
          font-size: 14px;
          color: $black;
          margin: 0;
          font-weight: 400;
        }
      }
    }

    .duration {
      flex: 1;
      display: flex;
      justify-content: end;

      @media screen and (max-width: 768px) {
        order: 2;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100px;

        @media screen and (max-width: 768px) {
          align-items: end;
        }
        h6 {
          margin: 0;
          display: flex;
          align-items: center;
          gap: 8px;
          font-weight: 600;
          font-size: 14px;
        }
        span {
          font-size: 12px;
          color: $gray;
          &.warning {
            color: $warning;
          }
        }
      }
    }
  }

  .price {
    padding: 16px;
    flex: 1;
    @include centerFlex();
    gap: 12px;

    h5 {
      font-size: 18px;
      color: $black;
      font-weight: 600;
      margin-bottom: 0;
      white-space: nowrap;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }

      span {
        color: $gray;
        font-weight: normal;
        font-size: 12px;

        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
  }
}

.flight_review {
  padding: 40px 0;
}
