header {
  top: 0;
  width: 100%;
  padding: 16px 0;
  position: sticky;
  z-index: 99;
  border-bottom: 1px solid $input_stroke;

  &.sticky {
    box-shadow: rgba(0, 0, 0, 0.035) 0px 2.45093px 8.98675px 0px;
    background: $white;
    z-index: 100;
  }

  nav {
    display: flex;
    .logo {
      display: flex;
      flex: 1;
      img {
        object-fit: contain;
        height: 50px;
      }
    }

    .nav_items {
      flex: 2;
      gap: 42px;
      @include centerFlex();
      a {
        color: $black;
        font-size: 14px;
        &:hover,
        &.active {
          color: $main;
        }
        @media screen and (min-width: 992px) {
          display: block;
        }
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }

    .actions {
      flex: 1;
      gap: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: 576px) {
        flex: 5;
      }
      .dropdown-toggle {
        background: none;
        border: none;
        color: $black;
        padding: 8px 12px;
        font-size: 14px;
        &:active {
          color: $black;
          background-color: transparent !important;
        }
      }

      .input_field {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        gap: 4px;
        label {
          font-size: 14px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        select {
          width: 100%;
          padding: 8px 4px;
          font-size: 14px;
          border: 1px solid $input_stroke;
          border-radius: 4px;
        }
      }

      .dropdown-menu {
        min-width: 15rem;
        padding: 16px;
      }

      .login {
        font-size: 14px;
        background: $main;
        color: $white;
        border-radius: 120px;
        padding: 8px 20px;
        transition: $transition;
        box-shadow: $shadow;
        white-space: nowrap;
      }

      .user_dropdown {
        border: 1px solid $input_stroke;
        border-radius: 120px;
        padding: 8px 20px;
        transition: $transition;
        box-shadow: $shadow;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        i {
          font-size: 12px;
        }
      }
    }
  }
}

.footer {
  background-image: url("/images/footer.jpg");
  font-size: 14px;

  .logo {
    filter: brightness(0) invert(1);
    img {
      object-fit: contain;
      height: 50px;
    }
  }

  h5 {
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 2px;
     background: linear-gradient(90deg, #7B151A 0%, #E21011 50%, #7B151A 100%);
      bottom: -2px;
      right: 0;
    }
  }

  .about {
    max-width: 340px;
  }

  .newsletter {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }

  a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $main;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .newsletter-form {
    display: flex;
    align-items: center;
    background: $white;
    border-radius: 100px;
    max-width: 360px;
    padding: 8px;
    input {
      border-radius: 0;
      padding: 8px;
      box-shadow: none;
      border: none;
      font-size: 14px;
    }

    button {
      background-color: $main;
      border: none;
      border-radius: 0;
      padding: 8px 16px;
      color: $white;
      border-radius: 80px;

      &:hover {
        background-color: #0da7c3;
      }
    }
  }

  .copyrights {
    margin-top: 16px;
    @include space-between();
    border-top: 1px solid #333;
    padding: 24px 0 8px;
    p {
      margin-bottom: 0;
    }
    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 24px;
      margin-bottom: 52px;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
    a {
      color: $white;
      transition: $transition;
      @include centerFlex();
      width: 20px;
      i {
        font-size: 16px;
      }
      &:hover {
        color: $main;
      }
    }
  }
}

.header-section {
  padding: 3rem 0;
background: linear-gradient(90deg, #7B151A 0%, #E21011 50%, #7B151A 100%);
  position: relative;
  overflow: hidden;

  .shape-left,
  .shape-right {
    position: absolute;
    top: 50%;
    width: 220px;
    transform: translateY(-50%);
    z-index: 1;
    @media (max-width: 576px) {
      width: 140px;
    }
    img {
      width: 100%;
      filter: brightness(0) invert(1);
    }
  }

  .shape-left {
    left: -75px;
  }

  .shape-right {
    right: -75px;
  }

  .container {
    position: relative;
    z-index: 2;
    text-align: center;

    .header-title {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 1px;
      @media (max-width: 576px) {
        font-size: 1.5rem;
      }
    }

    .header-description {
      color: #e0f7fa;
      font-size: 1rem;
      font-weight: 400;
      max-width: 600px;
      margin: 0 auto;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      @media (max-width: 576px) {
        font-size: 0.5rem;
      }
    }
  }
}

.blogs-page {
  padding: 40px 0;
}

.flight_details_modal {
  .modal-dialog {
    margin: 0 auto !important;
  }

  .modal-content {
    height: 100vh;
    border-radius: 0 !important;
  }

  .header {
    width: 100%;
    background: $input_stroke;
    padding: 12px 16px;
    @include space-between();
    h6 {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .modal-body {
    padding: 0 !important;
    background: $input_bg;

    .itinerary {
      padding: 24px;
      height: calc(100vh - 48px);
      overflow-y: scroll;

      .title {
        font-size: 14px;
        color: $gray;
      }

      .details {
        display: flex;
        align-items: center;
        gap: 8px;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .flight {
          flex: 1;
          background: $white;
          border: 1px solid $input_stroke;
          border-radius: 8px;
          padding: 16px;
          display: flex;
          height: 100%;
          flex-direction: column;
          gap: 8px;

          h6 {
            font-size: 14px;
            margin-bottom: 0;
            color: $input_hint;
          }

          .airports {
            display: flex;
            gap: 16px;

            span {
              font-size: 12px;
              color: $input_hint;
              display: block;
            }

            h6 {
              color: $black;
            }

            .icon {
              padding: 18px 12px 0;
            }

            .airPort {
              display: flex;
              flex: 1;
              flex-direction: column;
              gap: 4px;
              &.last {
                text-align: end;
              }
            }
          }

          .time_airline {
            margin-top: 12px;
            @include space-between();
            p {
              margin: 0 0 2px;
              font-size: 12px;
              color: $black;
              span {
                color: $input_hint;
              }
            }

            .airlines {
              display: flex;
              align-items: center;
              img {
                width: 48px;
                object-fit: contain;
              }
            }
          }

          .time_line {
            display: flex;
            flex-direction: column;
            margin-top: 16px;
            .segment {
              display: flex;
              gap: 12px;

              &:first-child {
                .line {
                  &::after {
                    background: $main;
                    border: 2px solid $main;
                  }
                  &::before {
                    background: $white;
                    border: 2px solid $main;
                  }
                }
              }

              &:last-child {
                .line {
                  &::after {
                    background: $white;
                    border: 2px solid $main;
                  }
                  &::before {
                    background: $main;
                    border: 2px solid $main;
                  }
                }
              }
            }

            .stop_over {
              margin-right: 52px;
              padding: 32px 0;
              border-right: 2px dotted $input_hint;
              span {
                width: 100%;
                display: flex;
                border-radius: 8px 0 0 8px;
                padding: 8px 12px;
                background: #fdf5cb;
                font-size: 14px;
                align-items: center;
                gap: 4px;
                b {
                  color: #cf000f;
                }
              }
            }

            .line {
              width: 2px;
              background: $main;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -3px;
                width: 8px;
                height: 8px;
                background: $white;
                border: 2px solid $main;
                border-radius: 50%;
              }

              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: -3px;
                width: 8px;
                height: 8px;
                border: 2px solid $main;
                background: $white;
                border-radius: 50%;
              }
            }

            .timing {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              min-width: 40px;
              .time {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 2px;
                span {
                  color: $input_hint;
                  font-size: 10px;
                }
                i {
                  color: $input_hint;
                }
                b {
                  font-size: 12px;
                  font-weight: 500;
                }
              }
            }

            .segment_info {
              display: flex;
              width: 100%;
              gap: 16px;
              flex-direction: column;
              justify-content: space-between;

              .title {
                display: flex;
                align-items: center;
                background: $input_bg;
                padding: 4px 8px;
                border-radius: 8px;
                width: 100%;
                gap: 4px;
                h6 {
                  margin-bottom: 0;
                  font-size: 12px !important;
                }
                span {
                  font-size: 12px;
                  color: $input_hint;
                }
              }

              .content {
                display: flex;
                flex-direction: column;

                ul {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  li {
                    padding: 4px 0;
                    div {
                      display: flex;
                      align-items: center;
                      gap: 4px;
                      margin-bottom: 4px;
                      img {
                        width: 48px;
                        object-fit: contain;
                      }
                      h6 {
                        color: $black;
                        font-size: 12px;
                        font-weight: 400;
                      }
                    }
                    .features {
                      margin-top: 4px;
                      display: flex;
                      align-items: center;
                      gap: 8px;
                      font-size: 12px;
                      i {
                        color: #21a024;
                        &.not_available {
                          color: #ff0011;
                        }
                      }
                    }
                    p {
                      margin: 0;
                      font-size: 12px;
                      color: $input_hint;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .price {
        @include space-between();
        h5 {
          font-size: 18px;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          gap: 16px;
          span {
            font-size: 12px;
            color: $gray;
          }
        }
        .bookNow {
          background: #21a024;
          color: $white;
          font-size: 14px;
          padding: 8px 24px;
          border-radius: 80px;
        }
      }
    }
  }
}

.receipt_modal {
  .modal-dialog {
    margin: 0 auto !important;
  }

  .modal-content {
    min-height: 100vh;
    border-radius: 0 !important;
  }

  .header {
    width: 100%;
    background: $input_stroke;
    padding: 12px 16px;
    @include space-between();
    h6 {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .modal-body {
    padding: 0 !important;
    background: $input_bg;
  }

  .receipt_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    padding: 12px;
    @media screen and (max-width: 576px) {
      overflow-x: scroll !important;
    }
    .print {
      display: flex;
      justify-content: end;
      @media screen and (max-width: 576px) {
        width: 200vw !important;
      }
      button {
        background: $black;
        color: $white;
        padding: 8px 32px;
        border-radius: 8px;
      }
    }
  }
}

.receipt {
  height: 100%;
  width: 100%;
  background: $white;
  border: 1px solid $input_stroke;

  @media screen and (max-width: 576px) {
    width: 200vw !important;
  }

  .header {
    background: $input_bg;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 12px 16px;

    .logo {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    img {
      height: 42px;
    }
    h2 {
      font-size: 16px;
      margin: 0;
    }

    .contact {
      display: flex;
      align-items: center;
      gap: 16px;
      p {
        margin: 0;
        font-size: 14px;
        color: $black;
        font-weight: 500;
      }
    }
  }

  .about_flight {
    padding: 24px;
    .head {
      @include space-between();
      h6 {
        font-size: 16px;
        color: $black;
        margin-bottom: 0;

        span {
          font-size: 18px;
          color: $main;
        }
      }
    }

    .flight_info {
      margin-top: 32px;
      @include space-between();

      .airport {
        max-width: 250px;
      }

      h6 {
        color: $black;
        font-size: 14px;
        font-weight: 500;
      }
      p {
        color: $gray;
        font-size: 14px;
      }
      span {
        color: $black;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .flight_details {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 16px;

      li {
        background: $input_bg;
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 14px;
        color: $gray;
        font-weight: 400;
        span {
          font-size: 14px;
          font-weight: 600;
          color: $black;
        }
      }
    }
  }

  .price {
    padding: 24px;
    border-top: 1px solid $input_stroke;
    ul {
      width: 50%;
      margin-inline-start: auto;
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        span {
          color: $black;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }

  .protection_note {
    padding: 24px;
    .note {
      padding: 16px;
      border-radius: 16px;
      background: $input_bg;
      p {
        color: $gray;
        font-size: 14px;
        margin: 0;
      }
      span {
        text-decoration: underline;
        color: #0d38c3;
      }
    }
  }

  .passengers {
    padding: 24px;

    table {
      width: 100%;
      thead {
        background: $input_bg;
      }
      th,
      td {
        padding: 12px;
        font-size: 14px;
      }

      tr {
        border-bottom: 1px dashed $input_stroke;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.custom-dropdown-menu {
  border-radius: 16px;
  padding: 10px;
  min-width: 220px;

  .dropdown-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px 0px;

    i {
      font-size: 14px;
      margin: 0 10px;
      color: $gray;
    }

    &:hover {
      background-color: #f8f9fa;
    }

    &:active {
      color: $black;
    }
  }
}

.small_menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: $white;
  align-items: center;
  box-shadow: $shadow;
  display: none;

  @media screen and (max-width: 991px) {
    display: flex;
  }

  .menu_item {
    @include centerFlex();
    flex-direction: column;
    flex: 1;
    padding: 12px;
    gap: 8px;
    // color: ;
    font-size: 14px;
    text-decoration: none;

    i {
      font-size: 16px;
      color: $gray;
    }

    &.active i {
      color: $main;
    }

    .center {
      width: 42px;
      height: 42px;
      background: $main;
      font-size: 24px;
      color: $white;
      @include centerFlex();
      border-radius: 50%;

      i {
        color: $white;
      }
    }
  }
}
